<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.length > 0) { %>
                <% for (let order of orders) { %>
                    <h1> <%= order.title %></h1>
                    <strong><%= order.quantity %></strong>
                    <%  } %>
                <% } else { %>
                    <h1>Nothing there!</h1>
                <% } %>
        </main>
        <%- include('../includes/end.ejs') %>